.Music {
    display: grid;
    grid-template-columns: 3fr 10fr;

}
.MusicNames .music {
    padding: 10px;
}
.MusicAuthor .music {
    padding: 10px;
}
.MusicNames {
    padding: 10px;
}
.MusicAuthor {
    padding: 10px;
}
.music a {
    color: red;
    text-decoration: none;
}
.music .activeLink {
    color: black;
}
.icons {
    padding-right: 10px;
    padding-left: 10px;
}