.header { 
  width: 1380px;
  height: 70px;
  display: grid;
  grid-area: h;
  background-color: #26a69a;
  position: fixed;
}
.header img {
  width: 90px;
}

.danniy {
  display: grid;
  grid-template-columns: 4fr 6fr 10fr 8fr 6fr ;
  color: white;
}
.danniy .item {
  padding-top: 40px;
}
.item a {
  color: white;
  text-decoration: none;
}
.item b {
  padding-left: 5px;
  color: gold;
}