.nav {
  grid-area: n;
  background-color: #f8a334;
  padding: 20px;
}

.item {
  color: white;
  padding: 10px;
}
.item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.item a.activeLink {
  color: gold;
}
.settings {
  margin-top: 50px;
}