* {
  margin: 0;
  padding: 0;
}
.app-wrapper {
  /* margin: 0 auto; */
  display: grid; 

  grid-template-areas: 
  "h h h"
  "n c c"
  "f f f";
  grid-template-rows: 70px 600px 100px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;
}
.app-wrapper-content {
  grid-area: c;
  background-color: rgba(234, 240, 241, 0.8);
}

