.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogItems {
    padding: 10px;
}
.dialogItems .dialog {
    padding: 10px;
}
.dialogItems .active {
    color: red;
}
.messages {
    padding: 10px;
} 

.messages .message {
    padding: 10px;
}
.dialog a {
    color: red;
    text-decoration: none;
}
.dialog .activeLink {
    color: green;
}
